{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "tailwindStylesheet": "./frontend/src/index.css",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
